.btn {
    height: 40px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border: 0;
    border-radius: 10px;
    color: var(--main-text);
    font-size: 0.9em;
    font-weight: 400;
    margin-top: 10px;
    cursor: pointer;
    padding: 0 10px;

    &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 1;
    }

    &:hover {
        &:after {
          left: 120%;
          transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}

.btn-primary {
    background-color: #3F51B5;
    color: white;
}

.btn-danger {
    background-color: #B5261B;
    color: white;
}