:host {
    .modal-vehicle {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 350px;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        z-index: 6;
        max-height: 80%;
        overflow: auto;

        .vehicle-image {
            width: 100%;
            height: 200px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .vehicle-content {
            padding: 20px;
            font-size: 0.9em;
            color: var(--main-text);

            h3 {
                text-align: center;
                margin: 0;
            }

            b {
                font-weight: 500;
            }
        }

        .form-btns {
            padding: 10px;
            text-align: center;
            margin-top: -20px;
            margin-bottom: 10px;

            .btn {
                margin: 0 7px;
            }
        }
    }
}