:host {
    .modal-vehicle {
        position: fixed;
        top: 90px;
        left: 50%;
        width: 300px;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        z-index: 6;

        .vehicle-image {
            width: 100%;
            height: 200px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .vehicle-content {
            padding: 20px;
            font-size: 0.9em;
            color: var(--main-text);

            h3 {
                text-align: center;
                margin: 0;
            }

            b {
                font-weight: 500;
            }
        }
    }
}