<app-modal-error [show]="error"></app-modal-error>

<div class="backdrop" (click)="closeModal(null)"></div>

<div class="modal-vehicle">
    <div class="vehicle-image">
        <img src="../../../assets/img/car.jpeg" alt="Imagem de um carro">
    </div>

    <div class="vehicle-content">
        <h3>{{vehicle.modelo}}</h3>

        <p><b>Placa: </b>{{vehicle.placa}}</p>
        <p><b>Chassi: </b>{{vehicle.chassi}}</p>
        <p><b>Renavam: </b>{{vehicle.renavam}}</p>
        <p><b>Marca: </b>{{vehicle.marca}}</p>
        <p><b>Ano: </b>{{vehicle.ano}}</p>
    </div>

    <div class="form-btns">
        <button class="btn btn-success" (click)="updateVehicle()">Editar veículo</button>
        <button class="btn btn-danger" (click)="deleteVehicle()">Excluir veículo</button>
        <button class="btn btn-primary" (click)="closeModal(null)">Voltar</button>
    </div>
</div>