:host {
    section {
        padding: 20px;
        margin-left: 360px;

        .search-input {
            height: 30px;
            width: 200px;
            border-radius: 5px;
            border: 1px solid var(--border);
            display: flex;
            align-items: center;
            color: var(--main-text);
            padding: 0px 10px;
            margin: auto;

            input {
                height: 100%;
                width: calc(100% - 20px);
                border: 0;
                background-color: transparent;
                outline: none;
            }
        }

        .vehicle-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
    
            .vehicle-card {
                width: 200px;
                margin: 20px;
                cursor: pointer;
    
                .vehicle-card-img {
                    width: 100%;
                    height: 130px;
                    overflow: hidden;
                    border-radius: 5px;
                    position: relative;
    
                    img {
                        width: 100%;
                    }
        
                    .image-overlay {
                        background: rgba(0,0,0,0.7);
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        opacity: 0;
                        -webkit-transition: all 0.4s ease-in-out 0s;
                        -moz-transition: all 0.4s ease-in-out 0s;
                        transition: all 0.4s ease-in-out 0s;
                    }
    
                    .image-overlay-text {
                        position: absolute;
                        text-align: center;
                        color: white;
                        padding-left: 1em;
                        padding-right: 1em;
                        width: 100%;
                        top: 50%;
                        left: 20%;
                        opacity: 0;
                        -webkit-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                    }
                }
               
    
                h4 {
                    color: var(--main-text);
                    font-weight: 500;
                    margin: 3px 0;
                }
    
                p {
                    color: var(--text);
                    font-size: 0.8em;
                    margin: 0;
                }
    
                &:hover {
                    .vehicle-card-img {
                        .image-overlay {
                            opacity: 1;
                        }
    
                        .image-overlay-text {
                            top: 50%;
                            left: 50%;
                            opacity: 1;
                        }
                    }
    
                    h4, p {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}