<section>
    <div class="search-input">
        <input type="text" placeholder="Procurar..."(keyup)="searchVehicles($event)">
        <mat-icon>search</mat-icon>
    </div>

    <p class="no-vehicles" *ngIf="vehicles.length == 0">Nenhum veículo encontrado</p>

    <div class="vehicle-cards">
        <div class='vehicle-card' *ngFor="let vehicle of vehicles">
            <div class="vehicle-card-img">
                <div class="image-overlay"></div>
                <img src="../../../assets/img/car.jpeg" alt="Imagem de um carro">
                <div class="image-overlay-text">
                    <span>Ver detalhes</span>
                </div>
            </div>
            <h4>{{vehicle.modelo}}</h4>
            <p>{{vehicle.ano}}</p>
        </div>
    </div>
</section>
