:host {
    header {
        height: 70px;
        width: 100%;
        color: white;
        background-color: rgba(0,0,0,.9);
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.2s;
        z-index: 4;

        img {
            height: 150%;
        }

        .new-vehicle-btn {
            height: 100%;
            width: 150px;
            font-size: 0.8em;
            margin-left: auto;
            background-color: #3f3f3f;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            mat-icon {
                margin-right: 5px;
            }
        }
    }

    .small-header {
        height: 50px;
    }
}