<app-modal-error [show]="error"></app-modal-error>

<div class="backdrop" (click)="closeForm()"></div>

<div class="form-vehicle">
    <h3 *ngIf="!vehicleToUpdate">Cadastrar novo veículo</h3>
    <h3 *ngIf="vehicleToUpdate">Atualizar veículo</h3>

    <form [formGroup]="vehicleForm">
        <div class="form-field">
            <label>Placa</label>
            <input type="text" placeholder="Placa" formControlName="placa">
            <div class="input-error" *ngIf="formHasError && vehicleForm.get('placa').errors?.placaInvalid">Placa inválida</div>
            <div class="input-error" *ngIf="formHasError && vehicleForm.get('placa').errors?.maxlength">Placa inválida</div>
        </div>
        
        <div class="form-field">
            <label>Renavam</label>
            <input type="text" placeholder="Renavam" formControlName="renavam">
            <div class="input-error" *ngIf="formHasError && vehicleForm.get('renavam').errors?.required">Esse campo é obrigatório</div>
        </div>

        <div class="form-field">
            <label>Ano</label>
            <input type="text" placeholder="Ano" formControlName="ano">
            <div class="input-error" *ngIf="formHasError && vehicleForm.get('ano').errors?.yearInvalid">Ano inválido</div>
        </div>

        <div class="form-field">
            <label>Chassi:</label>
            <mat-form-field appearance="fill">
                <mat-select placeholder="Chassi" formControlName="chassi">
                    <mat-option *ngFor="let chassi of ['Chassi 1', 'Chassi 2', 'Chassi 3']" [value]="chassi">{{chassi}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="input-error" *ngIf="formHasError && vehicleForm.get('chassi').errors?.required">Esse campo é obrigatório</div>
        </div>

        <div class="form-field">
            <label>Modelo:</label>
            <mat-form-field appearance="fill">
                <mat-select placeholder="Modelo" formControlName="modelo">
                    <mat-option *ngFor="let modelo of ['Modelo 1', 'Modelo 2', 'Modelo 3']" [value]="modelo">{{modelo}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="input-error" *ngIf="formHasError && vehicleForm.get('modelo').errors?.required">Esse campo é obrigatório</div>
        </div>

        <div class="form-field">
            <label>Marca:</label>
            <mat-form-field appearance="fill">
                <mat-select placeholder="Marca" formControlName="marca">
                    <mat-option *ngFor="let marca of allBrands" [value]="marca">{{marca}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="input-error" *ngIf="formHasError && vehicleForm.get('marca').errors?.required">Esse campo é obrigatório</div>
        </div>

        <div class="form-btns" *ngIf="!vehicleToUpdate">
            <button class="btn btn-primary" (click)="registerVehicle()">Registrar veículo</button>
            <button class="btn btn-danger" (click)="closeForm()">Cancelar</button>
        </div>
        <div class="form-btns" *ngIf="vehicleToUpdate">
            <button class="btn btn-primary" (click)="updateVehicle()">Atualizar veículo</button>
            <button class="btn btn-danger" (click)="closeForm()">Cancelar</button>
        </div>
    </form>
</div>