:host {
    .form-vehicle {
        position: fixed;
        top: 50%;
        left: 50%;
        max-width: 350px;
        width: 80%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        z-index: 6;
        padding: 20px;
        max-height: 80%;
        overflow: auto;

        h3 {
            text-align: center;
            font-weight: 500;
            color: var(--main-text);
        }

        form {
            display: flex;
            flex-wrap: wrap;

            .form-field {
                width: calc(50% - 20px);
                padding: 10px;

                label {
                    font-size: 0.9em;
                    color: var(--main-text);
                    padding-left: 3px;
                }

                input {
                    width: calc(100% - 23px);
                    height: 36px;
                    border: 1px solid #CCCCCC;
                    outline: none;
                    padding: 0 10px;
                    border-radius: 5px;
                    margin-top: 6px;
                    margin-bottom: 24px;
                }

                .input-error {
                    font-size: 0.7em;
                    margin-top: -13px;
                    padding-left: 3px;
                    color: red;
                }
            }

            .form-btns {
                text-align: center;
                width: 100%;
                margin-top: 10px;

                .btn {
                    margin: 5px 10px;
                    width: 130px;
                }
            }
        }
    }
}