:host {
    .form-vehicle {
        position: fixed;
        top: 90px;
        left: 50%;
        width: 350px;
        transform: translateX(-50%);
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        z-index: 6;
        padding: 20px;

        h3 {
            text-align: center;
            font-weight: 500;
            color: var(--main-text);
        }

        form {
            display: flex;
            flex-wrap: wrap;

            .form-field {
                width: calc(50% - 20px);
                padding: 10px;

                label {
                    font-size: 0.9em;
                    color: var(--main-text);
                }

                input {
                    width: calc(100% - 23px);
                    height: 36px;
                    border: 1px solid #CCCCCC;
                    outline: none;
                    padding: 0 10px;
                    border-radius: 5px;
                    margin-top: 6px;
                    margin-bottom: 15px;
                }
            }

            .form-btns {
                text-align: center;
                width: 100%;

                .btn {
                    margin: 0 10px;
                    width: 130px;
                }
            }
        }
    }
}