/* You can add global styles to this file, and also import other style files */

html, body { height: calc(100% - 70px); }
body { margin: 0; padding-top: 70px; font-family: Roboto, "Helvetica Neue", sans-serif; }
